body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

h1 {
  color: #13567b;
  font-weight: 800;
  margin: 0 0 30px 0;
}
main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-input {
  background-color: #e1f7f4;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #5facb0;
  color: white;
  border: none;
  padding: 20px 45px;
  line-height: 1;
  border-radius: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #296e8a;
}

.current-temperature {
  color: #0d3144;
  display: flex;
  font-size: 48px;
  font-weight: bold;
}
.current-temperature-icon {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 12px;
}
